a:active {
    text-decoration: none;
    color: #0253b1;
}

a:hover {
    text-decoration: none;
    color: #757575;
}

a:link {
    text-decoration: none;
    color: #757575;

    @media (min-width: $desktop) {
        text-decoration: none;
        color: #0258ba;
    }
}

a:visited {
    text-decoration: none;
    color: #757575;
}

.bottomMenu {
    max-width: 320px;
    height: 64px;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background: url(./img/bottom-menu.png) no-repeat center;

    @media (min-width: $desktop) {
        display: none;
    }
}

.navigation {
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    width: 100%;

    &__bookNow {
        width: 52px;
        height: 52px;
        background: linear-gradient(90deg, #36c268 0%, #38e475 105.48%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: 0 8px 24px rgb(67 191 112 / 50%);
        align-self: baseline;
        margin: -6px 0px 0px 26px;
        text-decoration: none;

        &--inside {
            background: url(./icon/umow-bottom.svg) no-repeat top center;
            background-size: 20px 20px;
            color: #000;
            margin-top: 10px;
            padding-top: 20px;
            font-weight: 600;
            font-size: 11px;
            z-index: 2;
        }
    }

    &__evisit {
        background: url(./icon/ekonsultacje-bottom.svg) no-repeat top center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    &__treatment {
        background: url(./icon/leczenie-bottom.svg) no-repeat top center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    &__left {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 8px;
        width: 34%;
    }

    &__more {
        background: url(./icon/wiecej-bottom.svg) no-repeat top center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-left: 10px;
    }

    &__drugs {
        background: url(./icon/leki-bottom.svg) no-repeat top center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-right: 10px;
    }

    &__right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 8px;
        width: 36%;
    }
}
