a {
    text-decoration: none;
    color: #0258ba;
}

a:active {
    text-decoration: none;
    color: $blue;
}

a:hover {
    text-decoration: none;
    color: $blue;
}

a:visited {
    text-decoration: none;
    color: $grey;
}

.bottomMenu {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 8px;
    height: 64px;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

    &::after,
    &::before {
        display: block;
        height: 54px;
        content: "";
        width: 30%;
        position: absolute;
        bottom: 0;
        background: white;
        z-index: -1;
    }

    &::after {
        left: 0;
    }

    &::before {
        right: 0;
    }

    &__background {
        position: absolute;
        width: 320px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    @media (min-width: $desktop) {
        display: none;
    }
}

.navigation {
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    &__active {
        &--text {
            color: $blue;
            white-space: nowrap;
            position: absolute;
            bottom: 0px;
        }
        &--logo {
            max-width: 24px;
            width: initial;
            height: initial;
            z-index: 1;
            position: initial;
            transform: initial;
            margin-top: 4px;
            filter: brightness(0) saturate(100%) invert(17%) sepia(52%) saturate(5162%) hue-rotate(203deg)
                brightness(98%) contrast(98%);
        }
    }

    &__bookNow {
        width: 52px;
        height: 52px;
        background: linear-gradient(90deg, #36c268 0%, $green-light 105.48%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: 0 8px 24px rgb(67 191 112 / 50%);
        margin: 0;
        text-decoration: none;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--inside {
            background: url(./icon/bookNow-bottom.svg) no-repeat top center;
            background-size: 20px 20px;
            color: #000;
            margin-top: 10px;
            padding-top: 20px;
            font-weight: 600;
            font-size: 11px;
            z-index: 2;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 52px;
        max-width: 52px;
        min-height: 52px;
        position: relative;
        &--logo {
            max-width: 24px;
            width: initial;
            height: initial;
            z-index: 1;
            position: initial;
            transform: initial;
            margin-top: 4px;
            filter: invert(46%) sepia(6%) saturate(8%) hue-rotate(7deg) brightness(98%) contrast(99%);
        }
        &--text {
            white-space: nowrap;
            position: absolute;
            bottom: 0px;
        }
    }
}
