.container {
    font-style: normal;
    display: flex;
    flex-flow: row;
    color: #000000;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;

}

.header {
    max-width: 1280px;
    height: 72px;
    left: 50%;
    background: #fff;
    box-shadow: 0 4px 16px rgb(0 0 0 / 15%);

    &__left {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__logo {
        margin: 0px 54px 26px 0px;
    }

    @media (max-width: $desktop) {
        display: none;
    }

    .container {
        padding: 12px 23px 12px 72px;
    }

    .navigation {
        font-size: 13px;
        line-height: 18px;

        &__askDoctor {
            background: url(./icon/) no-repeat top center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
        }

        &__left {
            list-style: none;
        }
    }
}