.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 72px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    @media (max-width: 1024px) {
        .header__link--text {
            display: none;
        }
    }
    @media (max-width: 820px) {
        padding: 12px 20px;
    }
    @media (max-width: 512px) {
        display: none;
    }

    &__container {
        display: flex;
        width: 100%;
        max-width: 1136px;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 16px;
        @media (max-width: 820px) {
            gap: 4px;
        }
    }

    &__link {
        @media (max-width: 1024px) {
            .header__link--text {
                display: none;
            }
        }
        padding: 10px 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        line-height: 18px;
        color: #0253b1;

        &--active {
            border-bottom: 2px solid #0253b1;
            font-weight: bold;
        }
    }

    &__logo {
        margin-right: 26px;
        width: 130px;
        @media (max-width: 820px) {
            display: none;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 16px;
        @media (max-width: 820px) {
            gap: 4px;
        }
        &--button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-right: 16px;
            color: #000000;
            background: linear-gradient(270deg, #38e475 0%, #36c268 100%);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
            border-radius: 36px;
            font-size: 14px;
            line-height: 19px;
            border: none;
            padding: 10px 16px;
            @media (max-width: 820px) {
                .header__right--text {
                    display: none;
                }
            }
        }
    }
}
