.button-filter {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 20px;
    color: #0253b1;
}

.history {
    &__buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-left: 8px;
        margin-right: -17px;

        @media (min-width: $desktop) {
            padding: 24px 272px 24px 140px;
            margin: 0;
            max-height: 68px;
        }

        &--close {
            border: none;
            background-color: transparent;
            color: #0253b1;
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--enter {
            background-color: transparent;
            border: none;
            color: #0253b1;
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--other {
            padding: 5px 8px 5px 8px;

            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--prescriptions {
            background-image: url(./icon/history-prescription.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;

            @media (min-width: $desktop) {
                padding: 5px 16px 5px 28px;
            }
        }

        &--tests {
            background-image: url(./icon/history-tests.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;
            @media (min-width: $desktop) {
                padding: 5px 16px 5px 36px;
            }
        }

        &--visits {
            background-image: url(./icon/history-visits.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;
            @media (min-width: $desktop) {
                padding: 5px 16px 5px 28px;
            }
        }
    }

    &__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin: 0 auto;
        padding: 9px 235px 8px 8px;

        @media (min-width: $desktop) {
            display: none;
        }
    }
}

.history-events {
    margin-bottom: 16px;

    @media (min-width: $desktop) {
        display: flex;
        margin-bottom: 16px;
    }

    &__april {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__details {
        text-decoration: none;
        visibility: visible;
        color: #0258ba;
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__february {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__header {
        font-size: 14px;
        line-height: 19px;
        margin: 0 auto;
        padding: 8px 172px 4px 16px;
        font-weight: normal;

        @media (min-width: $desktop) {
            padding: 0px;
            max-width: 88px;
            margin-left: 20px;
            margin-top: 31px;
            margin-right: 8px;
        }
    }

    &__january {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__march {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__may {
        @media (max-width: $desktop) {
            display: none;
        }
    }


    &__month {
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 16px 0px;
        display: block;
        padding-left: 140px;
        @media (max-width: $desktop) {
            display: none;
        }
    }
}
