.history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    padding: 9px 0px;

    span {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    &__container {
        max-width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: $desktop) {
            overflow-x: scroll;
            gap: 16px;
        }
    }

    &__button {
        &--close {
            border: none;
            background-color: transparent;
            color: #0253b1;
            font-size: 14px;
            line-height: 19px;
        }

        &--other {
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 21px;
            background: #FFFFFF;
            padding: 10.5px 12px;
            font-size: 14px;
            line-height: 19px;
            color: #0253B1;
        }

        &--prescriptions {
            background: url(./icon/history-prescription.svg), #FFFFFF;
            background-repeat: no-repeat;
            background-position: 12px center;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 21px;
            padding: 10.5px 24px;
            font-size: 14px;
            line-height: 19px;
            color: #0253B1;
        }

        &--tests {
            background: url(./icon/history-tests.svg), #FFFFFF;
            background-repeat: no-repeat;
            background-position: 12px center;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 21px;
            padding: 10.5px 24px;
            font-size: 14px;
            line-height: 19px;
            color: #0253B1;
        }

        &--visits {
            background: url(./icon/history-visits.svg), #FFFFFF;
            background-repeat: no-repeat;
            background-position: 12px center;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 21px;
            padding: 10.5px 24px;
            font-size: 14px;
            line-height: 19px;
            color: #0253B1;
        }
    }
}

/*.history {
    &__buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-left: 8px;
        margin-right: -17px;

        @media (min-width: $desktop) {
            padding: 24px 272px 24px 140px;
            margin: 0;
            max-height: 68px;
        }

        &--close {
            border: none;
            background-color: transparent;
            color: #0253b1;
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--enter {
            background-color: transparent;
            border: none;
            color: #0253b1;
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--other {
            padding: 5px 8px 5px 8px;

            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--prescriptions {
            background-image: url(./icon/history-prescription.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;

            @media (min-width: $desktop) {
                padding: 5px 16px 5px 28px;
            }
        }

        &--tests {
            background-image: url(./icon/history-tests.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;
            @media (min-width: $desktop) {
                padding: 5px 16px 5px 36px;
            }
        }

        &--visits {
            background-image: url(./icon/history-visits.svg);
            background-repeat: no-repeat;
            padding: 11px 16px 11px 36px;
            background-position: 12px center;
            margin-right: 8px;
            @media (min-width: $desktop) {
                padding: 5px 16px 5px 28px;
            }
        }
    }

    &__header {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin: 0 auto;
        padding: 9px 235px 8px 8px;

        @media (min-width: $desktop) {
            display: none;
        }
    }
}*/