.portal {
    .container {
        @media (min-width: $desktop) {
            padding: 16px 72px 24px 72px;
            display: flex;
        }

        @media (max-width: $desktop) {
            background: linear-gradient(0deg, rgba(239, 239, 239, 0.2), rgba(239, 239, 239, 0.2)),
                url(./img/background.png);
            background-size: cover;
        }
    }

    &__left {
        max-width: 848px;

        &--events {
            @media (min-width: $desktop) {
                background: linear-gradient(0deg, rgba(239, 239, 239, 0.2), rgba(239, 239, 239, 0.2)),
                    url(./img/background.png);
                background-size: cover;
                padding: 16px 28px 38px 0px;
                background-size: 500px;
            }

            &Bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 36px;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                gap: 24px;

                @media (max-width: $desktop) {
                    display: none;
                }

            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        padding: 0px 72px 0px 16px;
        gap: 17px;

        @media (max-width: $desktop) {
            display: none;
        }
    }
}