.portal {
    .container {
        @media (min-width: $desktop) {
            padding: 16px 72px 24px 72px;
        }

        @media (max-width: $desktop) {
            background: linear-gradient(0deg, rgba(239, 239, 239, 0.2), rgba(239, 239, 239, 0.2)),
                url(./img/background.png);
            background-size: cover;
        }
    }

    &__left {
        max-width: 848px;

        &--events {
            @media (min-width: $desktop) {
                background: linear-gradient(0deg, rgba(239, 239, 239, 0.2), rgba(239, 239, 239, 0.2)),
                    url(./img/background.png);
                background-size: cover;
            }
        }
    }
}
