.visit {
    .container {
        padding: 16px 0px 8px 0px;
    }

    @media (min-width: $desktop) {
        display: flex;
        position: relative;
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0px 16px 16px 73px;

        &--cancel {
            background: #0253b1;
            border-radius: 20px;
            padding: 10px 16px;
            align-items: center;
            text-align: center;
            color: #ffffff;
            border: 1px solid #0253b1;

            @media (min-width: $desktop) {
                padding: 5px 16px;
                margin: 10px 0px 16px 8px;
            }
        }

        &--change {
            background: #ffffff;
            border: 1px solid #0253b1;
            border-radius: 20px;
            padding: 10px 16px;
            align-items: center;
            text-align: center;
            color: #0253b1;
            margin-right: 14px;

            @media (min-width: $desktop) {
                padding: 5px 16px;
                margin: 10px 0px 16px 0px;
            }
        }

        @media (min-width: $desktop) {
            margin-left: 194px;
            padding: 0px;
        }
    }

    &__details {
        padding: 0px 0px 0px 10px;
    }

    &__desktop {
        @media (min-width: $desktop) {
            display: flex;
        }
    }

    &__header {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #0253b1;
        margin: 0 auto;
        padding: 16px 119px 4px 16px;

        @media (min-width: $desktop) {
            position: absolute;
            top: 16px;
            left: 20px;
            padding: 22px 0px 0px 0px;
        }
    }

    &__left {
        display: flex;
        position: relative;

        @media (max-width: $desktop) {
            display: none;
        }

        &--elipse {
            margin-right: 16px;
            max-width: 8px;
            @media (max-width: $desktop) {
                display: none;
            }
        }

        &--rectangle {
            margin: 0px 12px 16px 0px;

            @media (max-width: $desktop) {
                display: none;
            }
        }
    }

    &__middle {
        padding: 0px 31px 13px 16px;
        display: flex;

        &--address {
            line-height: 19px;
        }

        &--doctor {
            line-height: 19px;
        }

        &--iconLocation {
            padding-top: 2px;
        }

        @media (min-width: $desktop) {
            padding: 0px 0px 13px 16px;
        }
    }

    &__msg {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #ffffff;
        border-radius: 8px;

        @media (min-width: $desktop) {
            max-height: 98px;
        }

        &--blueLine {
            position: absolute;
            @media (min-width: $desktop) {
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                height: 100%;
                max-height: 98px;
            }
        }
    }

    &__rectangleWhite {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__top {
        display: flex;
        align-items: baseline;
        margin-bottom: 4px;
        justify-content: space-between;
        padding: 9px 14px 4px 16px;

        @media (min-width: $desktop) {
            visibility: hidden;
            position: relative;
        }

        &--arrow {
            @media (min-width: $desktop) {
                display: none;
            }
        }

        &--event {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__top:after {
        @media (min-width: $desktop) {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            content: "Internista";
            display: flex;
            align-items: baseline;
            margin-bottom: 4px;
            justify-content: space-between;
            padding: 9px 14px 4px 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
    }
}
