
.visit {
    &__month {
        @media (max-width: $desktop) {
            display: none;
        }
        display: flex;
        justify-content: center;
        padding: 16px 0;
        position: relative;
        margin-left: 116px;
        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 1.5px;
            background-color: #b8b8b8;
            height: 100%;
            left: 4px;
            transform: translateX(-50%);
        }
        &::before {
            top: 0;
        }

        span {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__content {
        &.visit__today {
            &::before,
            &::after {
                display: none;
            }

            .visit__date {
                position: absolute;
                left: -12px;
                top: 50%;
                transform: translate(-100%, -50%);
                max-width: initial;
                width: initial;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                    color: #0258ba;
                    font-weight: bold;
                }
            }

            .visit__dot {
                background: #0253b1;
            }

            .visit-card__content > img {
                display: initial;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
        @media (max-width: $desktop) {
            margin-left: 0;
            padding-top: 18px;
            &::before,
            &::after {
                display: none !important;
            }
        }

        display: flex;
        gap: 16px;
        align-items: center;
        position: relative;
        margin-left: 116px;
        &::before,
        &::after {
            display: block;
            position: absolute;
            content: "";
            width: 1.5px;
            background-color: #b8b8b8;
            height: calc(50% - 8px);
            left: 4px;
            transform: translateX(-50%);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }

    &__dot {
        @media (max-width: $desktop) {
            display: none;
        }
        display: block;
        width: 8px;
        min-width: 8px;
        min-height: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: #b8b8b8;
    }

    &__date {
        @media (max-width: $desktop) {
            top: -4px;
            left: 16px;
            transform: initial;
            flex-direction: row;
            max-width: initial;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: -8px;
        transform: translate(-100%, -50%);
        max-width: 88px;
        width: 100%;
        top: 50%;

        span {
            font-size: 14px;
            line-height: 19px;

            @media (min-width: $desktop)
            {
            font-size: 13px;
            line-height: 18px;
            }

            
        }
    }
    .visit__content:last-of-type::after,
    .visit__content:first-of-type::before {
        display: none;
    }
}

.visit-card {
    &__action {
        &--container {
            display: flex;
            align-items: center;
            gap: 8px;
            align-self: flex-end;
        }
        &--cancel {
            background: #0253b1 !important;
            color: white !important;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 8px 16px 16px;
        background-color: white;
        border-radius: 8px;
        gap: 4px;
        width: 100%;
        position: relative;

        > img {
            display: none;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
        img {
            display: none;
            @media (max-width: $desktop) {
                display: initial;
            }
        }
        a {
            font-size: 13px;
            line-height: 18px;
            color: #0258ba;
            cursor: pointer;
            @media (max-width: $desktop) {
                display: none;
            }
        }
    }
    &__bottom {
        @media (max-width: $desktop) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            a {
                padding: 10px 16px !important;
            }
        }

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        a {
            background: #ffffff;
            border: 1px solid #0253b1;
            border-radius: 20px;
            padding: 5px 16px;
            color: #0253b1;
            cursor: pointer;
            align-self: flex-end;
            text-align: center;
        }

        &--container {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        &--details {
            display: flex;
            flex-direction: column;
        }
    }
}
