.hero {

    .container {
        padding: 96px 8px 0px 8px;
    }

    &__upcoming {
        display: flex;
        align-content: center;
        justify-content: center;

        &--info {
            padding: 16px 16px 16px 8px;
            margin: 0 auto;
            line-height: 19px;
            border-radius: 4px;
        }
    }



}