.hero {

    .container {
        padding: 96px 8px 0px 8px;
    }
}

.container {
    font-style: normal;
    display: flex;
    flex-flow: column;
    color: #000000;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;

}
