@import "./normalize";
@import "./variables";
@import "./sections/advert.scss";
@import "./sections/bottomMenu.scss";
@import "./sections/covid.scss";
@import "./sections/header.scss";
@import "./sections/history.scss";
@import "./sections/notification.scss";
@import "./sections/portal.scss";
@import "./sections/prescriptions.scss";
@import "./sections/upcoming.scss";
@import "./sections/visit.scss";


body {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    line-height: 19px;
    color: #000000;
}


html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}