@import "./normalize";
@import "./variables";
@import "./sections/bottomMenu.scss";
@import "./sections/header.scss";
@import "./sections/history.scss";
@import "./sections/upcoming.scss";
@import "./sections/visit.scss";


body {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    line-height: 19px;
    color: #000000;
    background: linear-gradient(0deg, rgba(239, 239, 239, 0.2), rgba(239, 239, 239, 0.2)), url(./img/background.png);
    background-size: cover;
}


html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}